.animal-contents {
  width: 100%;
  height: 30%;
  position: relative;
}

.animal-contents #garbage3 {
  top: 10%;
  width: 70%;
}

.animal-contents #pollution2 {
  width: 100%;
}

.animal-contents #turtle {
  position: absolute;
  width: 20%;
  top: 20%;
  left: 3%;
  opacity: 0.7;
  transform: rotate(0deg);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.animal-contents button {
  cursor: pointer;
  position: absolute;
  top: 45%;
  left: 15%;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 10px solid #ff5151;
  background-color: transparent;
  z-index: 9;
}

.animal-contents #animal-contents-wrapper {
  border-radius: 20px;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  position: absolute;
  top: 60%;
  width: 35%;
  left: 15%;
  z-index: 7;
}

.animal-contents #animal-contents-wrapper #animal-contents-info {
  width: 50%;
}

.animal-contents #animal-contents-wrapper #animal-contents-info h2 {
  font-size: 1.2rem;
  padding: 1rem;
}

.animal-contents #animal-contents-wrapper #animal-contents-info p {
  font-size: 0.8rem;
  line-height: 1.3rem;
  padding: 1rem;
  padding-top: 0;
  font-weight: bold;
}

.animal-contents #animal-contents-wrapper img {
  width: 50%;
  padding: 1rem 1rem 1rem 0;
}
