.final-section {
  background-color: #fff;
  top: 150%;
  width: 100%;
  position: relative;
}

.final-section #windingWave {
  width: 100%;
}

.final-section #waterdrop {
  position: relative;
  width: 10%;
  display: block;
  margin: 0 auto;
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}

.final-section .info-container {
  width: 80%;
  margin: 0 auto;
}

.final-section .info-container .drinking-water {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.final-section .info-container .drinking-water #cup {
  position: relative;
  left: 21%;
  width: 50%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.final-section .info-container .drinking-water #cup:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.final-section .info-container .drinking-water .warning-wrapper {
  position: relative;
  width: 40%;
  left: 20%;
  -webkit-transition: bottom 1s;
  transition: bottom 1s;
}

.final-section .info-container .drinking-water .warning-wrapper h1 {
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  padding: 1rem 1rem 1rem 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.5rem;
  font-weight: bold;
  opacity: 1;
}

.final-section .info-container .drinking-water .warning-wrapper p {
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  padding: 0 1rem;
  width: 80%;
  opacity: 1;
  line-height: 1.5rem;
}

.final-section .info-container .death-animals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
}

.final-section .info-container .death-animals img {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  text-align: right;
  width: 50%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.final-section .info-container .death-animals img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.final-section .info-container .death-animals h1 {
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  padding: 1rem 1rem 1rem 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.5rem;
  font-weight: bold;
  opacity: 1;
}

.final-section .info-container .death-animals p {
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  padding: 0 1rem;
  width: 80%;
  opacity: 1;
  line-height: 1.5rem;
}

.final-section .info-container .protect-earth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
}

.final-section .info-container .protect-earth img {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  text-align: right;
  width: 40%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.final-section .info-container .protect-earth img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.final-section .info-container .protect-earth #earth-warning {
  position: relative;
  left: 10%;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  width: 60%;
}

.final-section .info-container .protect-earth #earth-warning h1 {
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  padding: 1rem 1rem 1rem 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.5rem;
  font-weight: bold;
  opacity: 1;
}

.final-section .info-container .protect-earth #earth-warning p {
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  padding: 0 1rem;
  width: 80%;
  opacity: 1;
  line-height: 1.5rem;
}
