.contents_page-background {
  position: relative;
  top: 30%;
  width: 100%;
}

.contents_page-background #ocean-background {
  opacity: 0.8;
  width: 100%;
  position: relative;
  z-index: 0;
}

.contents_page-background #ocean-background2 {
  opacity: 0.4;
  width: 100%;
  position: relative;
  z-index: 0;
}

.contents_page-background #ocean-background3 {
  opacity: 0.8;
  width: 100%;
  position: relative;
  z-index: 0;
}

.contents_page-background .contents_page {
  position: absolute;
  top: 20%;
  width: 100%;
  height: 100%;
}

.contents_page-background .contents_page .garbage {
  position: absolute;
  left: 50%;
  z-index: 7;
}

.contents_page-background .contents_page .garbage_contents {
  width: 100%;
  height: 40%;
  position: relative;
}

.contents_page-background .contents_page .garbage_contents #pollution1 {
  position: absolute;
  top: 10%;
  width: 100%;
}

.contents_page-background .contents_page .garbage_contents #garbage1 {
  width: 80%;
}

.contents_page-background .contents_page .garbage_contents #garbage2 {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  width: 100%;
  top: 15%;
}

.contents_page-background .contents_page .garbage_contents button {
  top: 20%;
  cursor: pointer;
  position: absolute;
  right: 5%;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 10px solid #ff5151;
  background-color: transparent;
  z-index: 10;
}

.contents_page-background .contents_page .garbage_contents #garbage_contents-wrapper {
  padding: 1rem;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
  position: relative;
  z-index: 10;
  top: 35%;
  right: 5%;
  width: 35%;
}

.contents_page-background .contents_page .garbage_contents #garbage_contents-wrapper .garbage_contents-info {
  width: 50%;
}

.contents_page-background .contents_page .garbage_contents #garbage_contents-wrapper .garbage_contents-info h2 {
  font-size: 1.2rem;
  padding: 1rem;
}

.contents_page-background .contents_page .garbage_contents #garbage_contents-wrapper .garbage_contents-info p {
  font-size: 0.8rem;
  padding: 0 1rem 1rem 1rem;
  line-height: 1.3rem;
  font-weight: bold;
}

.contents_page-background .contents_page .garbage_contents #garbage_contents-wrapper img {
  top: 0;
  width: 50%;
  padding: 1rem 1rem 1rem 0;
}
