.nuclear-contents {
  width: 100%;
  height: 100%;
  position: relative;
}

.nuclear-contents #garbage4 {
  width: 100%;
  opacity: 0.4;
}

.nuclear-contents #garbage5 {
  width: 100%;
  opacity: 0.4;
}

.nuclear-contents #pollution3 {
  position: absolute;
  width: 100%;
}

.nuclear-contents button {
  cursor: pointer;
  position: absolute;
  top: 13%;
  right: 15%;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 10px solid #ff5151;
  background-color: transparent;
  z-index: 9;
}

.nuclear-contents #nuclear_pollution {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  opacity: 0.7;
  width: 30%;
  position: absolute;
  top: 5%;
  right: 10%;
  z-index: 9;
}

.nuclear-contents #nuclear_contents-wrapper {
  border-radius: 20px;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 17%;
  width: 35%;
  right: 15%;
  z-index: 9;
}

.nuclear-contents #nuclear_contents-wrapper #nuclear_contents-info {
  width: 50%;
}

.nuclear-contents #nuclear_contents-wrapper #nuclear_contents-info h2 {
  font-size: 1.2rem;
  padding: 1rem;
}

.nuclear-contents #nuclear_contents-wrapper #nuclear_contents-info p {
  font-size: 0.8rem;
  line-height: 1.3rem;
  padding: 1rem;
  padding-top: 0;
  font-weight: bold;
}

.nuclear-contents #nuclear_contents-wrapper img {
  width: 50%;
  padding: 1rem 1rem 1rem 0;
}
